@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Murecho:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  /* --bg-color: #030000;
  --dark-yellow: #edc623;
  --pink: #f9b7f8; */

  --bg-color: #fffaf6;
  --dark-yellow: #3d8036;
  --pink: #295434;
  --last-green: #7cae6c;
}
.App {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-optical-sizing: auto;
  font-family: "Murecho", sans-serif;

  .three_cvr {
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .title {
    font-size: 15rem;
    color: var(--dark-yellow);
    text-align: center;
  }

  .three_Canvas {
    display: block;
    position: fixed;
    top:0;
    width: 100%;
    height: 100dvh;
    margin: 0 auto;
  }
  .others {
    display: block;
    position: relative;
    top:0;
    width: 100%;
    height: clamp(200px, 100dvh, 2000px);
    margin: 0 auto;
  }
}
